* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 14px;
}

.main {
	padding: 50px;
}

.main h1 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 22px;
	font-weight: bold;
}

.main p {
	margin-top: 10px;
	margin-bottom: 30px;
}

.main a {
	color: #FF3D00;
}

.main a:hover {
	opacity: 0.7;
}

@media screen and ( max-width: 500px ){
	.main {
		padding: 30px;
	}

	.main-logo {
		width: 70%;
	}
}